@font-face {
  font-family: adamBold;
  src: url(../FONT/Adam-Bold.ttf);
}
@font-face {
  font-family: adamLight;
  src: url(../FONT/Adam-Light.ttf);
}
@font-face {
  font-family: adamMed;
  src: url(../FONT/Adam-Medium.ttf);
}
@font-face {
  font-family: azonix;
  src: url(../FONT/Azonix.otf);
}
@font-face {
  font-family: beckman;
  src: url(../FONT/Beckman-Free.otf);
}
@font-face {
  font-family: cocogooseBold;
  src: url(../FONT/Cocogoose-Classic-ExtraBold-trial.ttf);
}
@font-face {
  font-family: cocogooseMed;
  src: url(../FONT/Cocogoose-Classic-Medium-trial.ttf);
}
@font-face {
  font-family: codeBold;
  src: url(../FONT/CODE\ Bold.otf);
}
@font-face {
  font-family: codeLight;
  src: url(../FONT/CODE\ Light.otf);
}
@font-face {
  font-family: moonrisingReg;
  src: url(../FONT/Moonrising.ttf);
}
@font-face {
  font-family: moonrisingItalic;
  src: url(../FONT/Moonrising\ Italic.ttf);
}
@font-face {
  font-family: blackSignature;
  src: url(../FONT/BlackSignature.otf);
}
@font-face {
  font-family: blackLight;
  src: url(../FONT/TheBlacklight.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../FONT/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: pacifico;
  src: url(../FONT/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: exo;
  src: url(../FONT/Exo-Medium.ttf);
}
@font-face {
  font-family: astral;
  src: url(../FONT/Astralsisters.ttf);
}
@font-face {
  font-family: creation;
  src: url(../FONT/Creattion.otf);
}
@font-face {
  font-family: southmore;
  src: url(../FONT/Southmore.ttf);
}
